@{
    ViewBag.Title = "Physiofit | Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var none = "--";
    var index = 1;
}
@*@model List<gym_mgmt_01.Models.ProductType>*@
@model dynamic
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addcat" data-whatever="">Add Product Type</button>
        </div>
    </div>
    <div class="addrolestab">
        <table class="table table-hover table-responsive" >
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product Type</th>
                    <th>Tax Rate Name</th>
                    <th>Sold in Clubs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="productType">
                @if (Model.prodTypeList.Count > 0)
                {

                    foreach (var productType in Model.prodTypeList)
                    {

                        <tr>
                            <td> @(index++)</td>
                            <td>
                                @if (productType.TypeName == "")
                                {
                                    @none
                                }
                                else
                                {
                                    @productType.TypeName
                                }
                            </td>
                            <td>@productType.TaxRateName</td>
                            <td>@productType.SoldInClubs</td>
                            <td>
                                <button type="button" class="btn btn-info editbtn1" onclick="GetDetails(@productType.Id)">Edit</button>
                                <button type="button" class="btn btn-primary deletebtn1" onclick="location.href='@Url.Action("DeleteProductType", "Category", new { id = productType.Id })'">Delete</button>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" align="center"> Sorry No Data Available !!!</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Column -->
</div>
<!-------Modal For Add  Product Type ---------->
<div class="modal" id="addcat" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
    @using (Html.BeginForm("SaveProductType", "Category", FormMethod.Post))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Add Product Type</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Name :</label>
                            <input type="text" maxlength="20" name="typename" class="form-control label2" id="" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Tax Rate :</label>
                            <input type="text" maxlength="10" name="taxrate" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Associated Club:</label>
                            <input type="text" maxlength="20" name="associatedclub" class="form-control label2" id="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Submit</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    }
</div>
<!-- /.modal -->
<!----------------->
<!-------Modal For Updat Product Type ---------------->
<div class="modal" id="updateCat" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
    @using (Html.BeginForm("EditProductType", "Category", FormMethod.Post))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Edit Product Type</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" name="id" id="prodNum" />
                        <div class="form-group">
                            <label for="" class="control-label label1">Name :</label>
                            <input type="text" maxlength="20" id="typename" name="typename" class="form-control label2" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Tax Rate :</label>
                            <input type="text" maxlength="10" id="taxrate" name="taxrate" class="form-control label2" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Associated Club:</label>
                            <input type="text" maxlength="20" id="associatedclub" name="associatedclub" class="form-control label2" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Submit</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
<!---------------------------------------------------->
@section scripts{
    <script type="text/javascript">
        function GetDetails(id) {
            $.ajax({
                url: "/Category/ProductTypeEdit/" + id,
                typr: "GET",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                success: function (response) {
                    //alert(" SucessFull Get the Value " + JSON.stringify(response));
                    $('#prodNum').val(response.Id);
                    $('#typename').val(response.TypeName);
                    $('#taxrate').val(response.TaxRateName);
                    $('#associatedclub').val(response.SoldInClubs);
                    $('#updateCat').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
                }
            });
            return false;
        }
         $("#search").on("keyup", function () {
                var value = $(this).val().toUpperCase();
                     $("#productType tr").filter(function() {
                    $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
                 });
         });
    </script>
}