
@{
    ViewBag.Title = " Physiofit | All Payments ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromDate = ViewBag.fromDate as DateTime?;
    var toDate = ViewBag.toDate as DateTime?;
}
@model dynamic
<div class="row upp2">
    <!-- Column -->

    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            @using (@Html.BeginForm("AllBills", "Report", FormMethod.Post))
            {
                <label class="mb100">Filter</label>
                <div class="input-group wid45">
                    @Html.TextBox("fromDate", string.Format("{0:dd-MM-yyyy}", fromDate), new { @class = "form-control", @type = "Date" })
                </div>
                <p class="wid10 form-control">to</p>
                <div class="input-group wid45">
                    @Html.TextBox("toDate", string.Format("{0:dd-MM-yyyy}", toDate), new { @class = "form-control", @type = "Date" })
                </div>
                <div class="input-group form-group" style="display:none;">
                    <label class="mb100">Filter by status</label>
                    <textarea type="text" class="form-control mb100" rows="2" placeholder="" aria-label=""></textarea>
                </div>
                <div class="input-group form-group">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            }
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6 btnsection">
            <button type="button" style="display:none;" class="btn btn-info">Reset Filters</button>
            @using (Html.BeginForm("PaymentsExport", "Report", FormMethod.Post, new { @style = "display:contents;" }))
            {
                if (Model.sellsReport.Count > 0)
                {
                    <button type="submit" class="btn btn-info">Export to CSV</button>
                }
                else
                {
                    <button type="submit" disabled class="btn btn-info">Export to CSV</button>
                }

            }
            @*- Not In feature 
                    @using (Html.BeginForm("AllPaymentPrint", "Report", FormMethod.Post, new { @style = "display:contents;" }))
                    {

                        if (Model.sellsReport.Count > 0)
                        {
                            <button type="submit" class="btn btn-info">Print</button>
                        }
                        else
                        {
                            <button type="submit" disabled class="btn btn-info">Print</button>
                        }

                    }*@
            
        </div>
    </div>
    <div class="addrolestab scrolltab">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Invoice No.</th>
                    <th>Member Name</th>
                    <th>Sub Total</th>
                    <th>Total Amount</th>
                    <th>Total Pay</th>
                    <th>Remain Price</th>
                    <th>Paid Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.sellsReport.Count > 0)
                {
                    foreach (var sells in Model.sellsReport)
                    {
                        <tr>
                            <td>#@sells.Invoice_number</td>
                            <td>@sells.Member_Name</td>
                            <td>@sells.Subtotal OMR</td>
                            <td>@sells.Total_Amount OMR</td>
                            <td>@sells.Total_Pay OMR</td>
                            <td>@sells.Remain_price OMR</td>
                            <td>PAID</td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td colspan="7" align="center">
                            <div class="alert alert-info">
                                <i class="ti-info" style="margin-right: 5px;border-radius: 50%;border: 1px solid #249ddc; padding: 3px; font-size: 10px;"></i> No Payments Data Found!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
                            </div>
                        </td>
                    </tr>  
                }
            </tbody>
        </table>
    </div>
</div>
