
@{
    ViewBag.Title = "Physiofit | Stocks ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
}
@model dynamic
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addcat" data-whatever="">Add Stocks</button>
        </div>
    </div>
    <div class="addrolestab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product Name</th>
                    <th>Stock In</th>
                    <th>Stock Out</th>
                    <th>Current Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.stocks.Count > 0)
                {

                    foreach (var stocks in Model.stocks)
                    {

                        <tr>
                            <td> @(index++)</td>
                            <td>
                                @stocks.product_Id
                            </td>
                            <td>@stocks.stockin</td>
                            <td>@stocks.stockout</td>
                            <td>@stocks.current_stock</td>
                            <td>
                                <button type="button" class="btn btn-info editbtn1" onclick="GetDetails(@stocks.Id)">Edit</button>
                                <button type="button" class="btn btn-primary deletebtn1" onclick="location.href='@Url.Action("DeleteStocks", "Stock", new { id = stocks.Id })'">Delete</button>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" align="center">
                            <div class="alert alert-info">
                                <i class="ti-info" style="margin-right: 5px;border-radius: 50%;border: 1px solid #249ddc; padding: 3px; font-size: 10px;"></i> No Stocks Found!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Column -->
</div>
<!-------Modal For Add  Product Type ---------->
<div class="modal" id="addcat" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
    @using (Html.BeginForm("SaveStock", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Add Stock</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="" class="control-label label1">Product Name :</label>
                            <select class="form-control label2" name="productName">
                                @if (Model.products.Count > 0)
                                {
                                    <option value="0" selected>--SELECT PRODUCT--</option>
                                    foreach (var products in Model.products)
                                    {
                                        <option value="@products.Id">@products.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">None</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Buy Price :</label>
                            <input type="text" maxlength="20" name="getprice" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Sell Price :</label>
                            <input type="text" maxlength="20" name="sellprice" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Quantity :</label>
                            <input type="text" maxlength="20" name="quantity" class="form-control label2" id="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Submit</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.modal -->
<!----------------->
<!-------Modal For Updat Product Type ---------------->
<div class="modal" id="updateProd" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
    @using (Html.BeginForm("EditStock", "Stock", FormMethod.Post))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Edit Stock</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="" class="control-label label1">Product Name :</label>
                            <select class="form-control label2" name="productName" id="productName">
                                @if (Model.products.Count > 0)
                                {
                                    <option value="0" selected>--SELECT PRODUCT--</option>
                                    foreach (var products in Model.products)
                                    {
                                        <option value="@products.Id">@products.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">None</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Buy Price :</label>
                            <input type="text" maxlength="20" name="getprice" class="form-control label2" id="buyPrice" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Sell Price :</label>
                            <input type="text" maxlength="20" name="sellprice" class="form-control label2" id="sellPrice" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Quantity :</label>
                            <input type="text" maxlength="20" name="barcode" class="form-control label2" id="quantity" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Submit</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script type="text/javascript">
        function GetDetails(id) {
            $.ajax({
                url: "/Stock/StockEdit/" + id,
                typr: "GET",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                success: function (response) {
                   // alert(" SucessFull Get the Value " + JSON.stringify(response));
                  //  $('#prodID').val(response.Id);
                    $('#productName').val(response.product_Id);
                    $('#buyPrice').val(response.get_price);
                    $('#sellPrice').val(response.sell_price);
                    $('#quantity').val(response.current_stock);
                    $('#updateProd').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
                }
            });
            return false;
        }
    </script>
}

