
@{
    ViewBag.Title = "Physiofit | Membership ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model gym_mgmt_01.Models.Membership

@if (ViewBag.Message != null)
{
    <div class="row p-t-10 p-b-0">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-success alert-rounded">
                <i class="ti-user"></i>@ViewBag.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Index", "Membership", FormMethod.Post, new { @Id = "membership", @class = "needs-validation", @novalidate = "" }))
{
    @Html.AntiForgeryToken();
    <div class="row upp2 centerform">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="settings" role="tabpanel">
                        <div class="col-12">
                            <div class="row">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationDefault01" class="mb30">Name</label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb70", @type = "text", @name = "name", @placeholder = " Enter Name of Membership. ", @required = "" } })
                                                @Html.ValidationMessageFor(modal => modal.Name, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationDefault01" class="mb30">Description</label>
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control mb70", @type = "text", @name = "Description", @placeholder = " Enter Description Here. " })
                                                @Html.ValidationMessageFor(modal => modal.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="" class="mb30">Amount</label>
                                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = " form-control mb70", @type = "number", @name = "Amount", @min = "0", @placeholder = " Enter Amount. " } })
                                                @Html.ValidationMessageFor(modal => modal.Amount, "", new { @class = "text-danger" })

                                                <div class="invalid-tooltip"></div>
                                                <div class="help-block"><ul role="alert"><li></li></ul></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3" id="date-range">
                                                <label for="" class="mb30">Start Date</label>
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control mb70", @type = "date", @min = "1900-01-01", @max = "9999-12-31" } })
                                                @Html.ValidationMessageFor(modal => modal.StartDate, "", new { @class = "text-danger" })
                                                <div class="invalid-tooltip"></div>

                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="" class="mb30">End Date</label>
                                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control mb70", @type = "date", @min = "1900-01-01", @max = "9999-12-31" } })
                                                @Html.ValidationMessageFor(modal => modal.EndDate, "", new { @class = "text-danger" })

                                                <div class="invalid-tooltip"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="" class="mb30">Pre Expiration Days</label>
                                                @Html.EditorFor(model => model.PreExpirationDays, new { htmlAttributes = new { @class = "form-control mb70", @type = "number", @min = "0", @placeholder = " Enter Pre Expiration Days. " } })
                                                @Html.ValidationMessageFor(modal => modal.PreExpirationDays, "", new { @class = "text-danger" })
                                            <div class="invalid-tooltip"></div>

                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="" class="mb30">Allowed Members</label>
                                                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control mb70", @type = "number", @placeholder = " Enter Allowed Members. " } })
                                                @Html.ValidationMessageFor(modal => modal.Capacity, "", new { @class = "text-danger" })
                                                <div class="invalid-tooltip"></div>

                                            </div>
                                        </div>
                                        
                                        @if (Session["user"] != null)
                                        {
                                            if (Session["user"].ToString() == "Admin")
                                            {
                                                <button type="submit" onclick="getDate()" class="btn btn-info subbtn">Submit</button>
                                            }
                                            else
                                            {
                                                if (@ViewBag.Create != false)
                                                {
                                                    <button type="submit" onclick="getDate()" class="btn btn-info subbtn">Submit</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" disabled onclick="getDate()" class="btn btn-info subbtn">Submit</button>
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="@Url.Content("~/dist/js/pages/validation.js")"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    'use strict';
        //        window.addEventListener('load', function () {
        //        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        //        var forms = document.getElementsByClassName('needs-validation');
        //        // Loop over them and prevent submission
        //        var validation = Array.prototype.filter.call(forms, function (form) {
        //            form.addEventListener('submit', function (event) {
        //                if (form.checkValidity() === false) {
        //                    event.preventDefault();
        //                    event.stopPropagation();
        //                }
        //                form.classList.add('was-validated');
        //            }, false);
        //        });
        //    }, false);
        //})();
    </script>
}