
@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic
@using (Html.BeginForm())
{
    <div class="row upp2">
        <!-- Column -->
        <div class="row rolebtns2">
            <div class="col-lg-6 col-xlg-6 col-md-6">
                <form action="#">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchsubscription" placeholder="Type the subscriptions type.." aria-label="">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-xlg-6 col-md-6">
                <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addcat" onclick="" data-whatever="">Add Subscription</button>
            </div>
        </div>
        <div class="addrolestab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Membership Name</th>
                        <th>Amount</th>
                        <th>Expiry Date</th>
                        <th>Member Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="subscription">
                    @if (Model.subscription.Count > 0)
                    {
                        foreach (var sub in Model.subscription)
                        {
                            <tr>
                                <td>@sub.MembershipName </td>
                                <td><b>$</b>@sub.Ammount</td>
                                <td>@sub.ExpirayDate</td>
                                <td>@sub.MemberName</td>
                                <td>
                                    <button type="button" class="btn btn-info editbtn1" onclick="editSubscription(@sub.Id)">Edit</button>
                                    <button type="button" class="btn btn-primary deletebtn1" onclick="location.href='@Url.Action("deleteSubscriptions", "Membership", new { id = sub.Id })'">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" align="center">
                                <div class="alert alert-info">
                                    <i class="ti-info" style="margin-right: 5px;border-radius: 50%;border: 1px solid #249ddc; padding: 3px; font-size: 10px;"></i> No Subscriptions Found !!!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}
@using (Html.BeginForm("addSubscriptions", "Membership", new { @class = "needs-validation", @novalidate = "" }))
{
    <div class="modal" id="addcat" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Subscriptions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="" class="control-label label1">Choose Member :</label>
                            <div class="controls">
                                <select name="member" id="select" data-validation-required-message="Please select the member first" class="form-control label2" aria-invalid="false" required="">
                                    @if (Model.member.Count > 0)
                                    {
                                        <option value="">--SELECT OPTIONS--</option>
                                        foreach (var mem in Model.member)
                                        {
                                            <option value="@mem.Id">@mem.FirstName</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0">NONE</option>
                                    }

                                </select>
                                <div class="help-block" style=" padding-left:30%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Choose Membership :</label>
                            <div class="controls">
                                <select name="membershp" class="form-control label2" data-validation-required-message=" Please select class first." required="" aria-invalid="false">
                                    @if (Model.membrshp.Count > 0)
                                    {
                                        <option value="">--SELECT OPTIONS--</option>
                                        foreach (var mshp in Model.membrshp)
                                        {
                                            <option value="@mshp.Id">@mshp.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0">NONE</option>
                                    }
                                </select>
                                <div class="help-block" style=" padding-left:30%;"></div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="" class="control-label label1"> Payment Status :</label>
                            <div class="controls">
                                <select class="form-control label2" data-validation-required-message=" Please select payment status first." required="" aria-invalid="false">
                                    <option value="Paid">Paid</option>
                                    <option value="Unpaid">Unpaid</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="" class="control-label label1"> Amount Pay :</label>
                            <div class="controls">
                                <input type="text" class="form-control label2" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Add Subscription</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("editSubscriptions", "Membership", new { @class = "needs-validation", @novalidate = "" }))
{
    <div class="modal" id="editSubscription" tabindex="-1" role="dialog" aria-labelledby="addcatlabel">
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addcatlabel">Edit Subscriptions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="" class="control-label label1">Choose Member :</label>
                            <div class="controls">
                                <select name="member" id="select" data-validation-required-message="Please select the member first" class="form-control label2" aria-invalid="false" required="">
                                    @if (Model.member.Count > 0)
                                    {
                                        <option value="">--SELECT OPTIONS--</option>
                                        foreach (var mem in Model.member)
                                        {
                                            <option value="@mem.Id">@mem.FirstName</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0">NONE</option>
                                    }
                                </select>
                                <div class="help-block" style=" padding-left:30%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Choose Membership :</label>
                            <div class="controls">
                                <select name="membershp" class="form-control label2" data-validation-required-message=" Please select class first." required="" aria-invalid="false">
                                    @if (Model.membrshp.Count > 0)
                                    {
                                        <option value="">--SELECT OPTIONS--</option>
                                        foreach (var mshp in Model.membrshp)
                                        {
                                            <option value="@mshp.Id">@mshp.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="0">NONE</option>
                                    }
                                </select>
                                <div class="help-block" style=" padding-left:30%;"></div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="" class="control-label label1"> Payment Status :</label>
                            <div class="controls">
                                <select class="form-control label2" data-validation-required-message=" Please select payment status first." required="" aria-invalid="false">
                                    <option value="Paid">Paid</option>
                                    <option value="Unpaid">Unpaid</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="" class="control-label label1"> Amount Pay :</label>
                            <div class="controls">
                                <input type="text" class="form-control label2" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Edit Subscription</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script src="@Url.Content("~/dist/js/pages/validation.js")"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        ! function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }(window, document, jQuery);

        function editSubscription(id) {
        
             $.ajax({
                url: "/Membership/getSubscription/" + id,
                typr: "GET",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                 success: function (response) {
                     alert(JSON.stringify(response));
                    //alert(" SucessFull Get the Value " + JSON.stringify(response));
             //       $('#prodID').val(response.Id);
                //    $('#productname1').val(response.Name);
              ///      $('#barcode').val(response.Barcode);
         //           $('#description').val(response.Description);
                 //   $('#associatedclub').val(response.SoldInClubs);
               //      $('#prodprof').attr("src", response.ImageURL);
                    $('#editSubscription').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
                }
            });
            return false;
        }
         $("#searchsubscription").on("keyup", function () {
             var value = $(this).val().toUpperCase();
                 $("#subscription tr").filter(function() {
                 $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
            });
         });
    </script>
}