
@{
    ViewBag.Title = "View Memberships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns2">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchmembershp" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addcat" onclick="location.href='@Url.Action("", "Membership")'" data-whatever="">Add Membership</button>
        </div>
    </div>
    <div class="addrolestab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Membership Name</th>
                    <th>Amount</th>
                    <th>Expiry Date</th>
                    <th>Capacity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="memship">
                @if (Model.membership.Count > 0)
                {
                    foreach (var data in Model.membership)
                    {
                        <tr>
                            <td>@data.Name</td>
                            <td>@data.Amount</td>
                            <td>@data.EndDate</td>
                            <td>@data.Capacity</td>
                            <td>
                                <button type="button" class="btn btn-info editbtn1" onclick="editClass(@data.Id)">Edit</button>
                                <button type="button" class="btn btn-primary deletebtn1" onclick="location.href='@Url.Action("DeleteMembership", "Membership", new { id = data.Id })'">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" align="center">
                            <div class="alert alert-info">
                                <i class="ti-info" style="margin-right: 5px;border-radius: 50%;border: 1px solid #249ddc; padding: 3px; font-size: 10px;"></i> No Membership Found!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
           </table>
    </div>
</div>
@using (Html.BeginForm("Edit", "Membership", FormMethod.Post, new { @id = "editMembership1", @class = "needs-validation", @novalidate = "" }))
{
    @Html.AntiForgeryToken()
    <div class="modal" id="editMembership" tabindex="-1" role="dialog" aria-labelledby="addclasslabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addclasslabel">Edit Membership </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="addClass" method="post">
                        <div class="form-group">
                            <label for="" class="control-label label1">Name</label>
                            <input type="text" name="Name" required="" class="form-control label2" id="membrshpname" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Description</label>
                            <textarea type="date" name="Description" class="form-control label2" id="description"></textarea>
                          
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Amount</label>
                            <input type="text"  name="amount" required="" class="form-control label2" id="memAmount" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Start Date</label>
                            <input type="date" name="StartDate" class="form-control label2" id="StartDate" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">End Date</label>
                            <input type="date" name="EndDate" class="form-control label2" id="EndDate" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Pre Expiration Days :</label>
                            <input type="date" name="PreExpirationDays" class="form-control label2" id="preexpdays" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1"> Allowed Members :</label>
                            <input type="number"  name="Capacity" required="" class="form-control label2" id="capacity" />
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Edit Membership</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

        function editClass(id) {
           var reMsAjax = /^\/Date\((d|-|.*)\)[\/|\\]$/;
            $.ajax({
                url: "/Membership/getMemberships/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {

                    alert(JSON.stringify(response));
                    $('#membrshpname').val(response.Name);
                    $('#description').val(response.Description);
                    $('#memAmount').val(response.Amount);
                   // var startDate = Date.parse(response.sStartDate)
                    var startDate = new Date( parseInt(response.StartDate.replace(/(^.*\()|([+-].*$)/g, '')) );
                    var endDate = new Date(parseInt(response.EndDate.replace(/(^.*\()|([+-].*$)/g, '')));
                    alert(" Start Date : " + startDate);
                    alert(" End Date : " + endDate);
                    var std = startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear();
                    //   var nowdate = startDate.getFullYear().toString() + '-' + (startDate.getMonth() + 1).toString().padStart(2, 0) + '-' + startDate.getDate().toString().padStart(2, 0);
                    $('#StartDate').val(std);
                    $('#EndDate').val(endDate);
                    $('#preexpdays').val(response.PreEndDate);
                    $('#capacity').val(response.Capacity);
                    $('#editMembership').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }
         $("#searchmembershp").on("keyup", function () {
                var value = $(this).val().toUpperCase();
                     $("#memship tr").filter(function() {
                    $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
                 });
            });
    </script>
}

