
@{
    ViewBag.Title = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model List<gym_mgmt_01.Models.ModuleDetails>
@using (Html.BeginForm("SetAuth", "Staff", FormMethod.Post , new { @id="setauth"}))
{
    <div class="row upp2">
        <!-- Column -->
        <div class="row rolebtns2">
            <div class="col-lg-6 col-xlg-6 col-md-6">
                @if (Model.Count > 0)
                {
                    <button type="submit" class="btn btn-info btnad drole" onclick="getCheckBoxList()" data-toggle="modal" data-target="#addcat" data-whatever="">Save</button>
                }
                else
                {
                    <button type="submit" disabled class="btn btn-info btnad drole" onclick="getCheckBoxList()" data-toggle="modal" data-target="#addcat" data-whatever="">Save</button>
                }

                <div class="input-group" style="display:none;">
                    <input type="text" class="form-control" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xlg-6 col-md-6">
           
            </div>
        </div>
        <div class="addrolestab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Module Name</th>
                        <th>Accesebility</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => m[i].Module)
                                    @Html.DisplayFor(m => m[i].Module)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(m => m[i].isSelected, new { @type = "checkbox", @class = "js-switch" })
                            
                                </td>
                                <td>
                                    View
                                    @Html.CheckBoxFor(m => m[i].View, new { @type = "checkbox", @class = "" })
                                    &nbsp;
                                    Edit
                                    @Html.CheckBoxFor(m => m[i].Edit, new { @type = "checkbox", @class = "" })
                                    &nbsp;
                                    Create
                                    @Html.CheckBoxFor(m => m[i].Create, new { @type = "checkbox", @class = "" })
                                    &nbsp;
                                    Delete
                                    @Html.CheckBoxFor(m => m[i].Delete, new { @type = "checkbox", @class = "" })
                                </td>
                            </tr>

                        }

                    }
                    else {
                        <tr>
                            <td colspan="2" style="text-align:center;">
                                <b>No Module Found to Authorize</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Column -->

    </div>
}
@section scripts {
    <script type="text/javascript">
       
        // loop over them all
        //function getCheckBoxList() {
        //    var checkboxlist = document.querySelectorAll('input[type=checkbox]:checked');
        //    if (checkboxlist.length < 1) {
        //        alert(" Please select at least one authorisation.. ");
        //        $("#setauth").submit(function (e) { // note that it's better to use form Id to select form
        //            e.preventDefault(); // here you stop submitting form
        //        });

        //    }
        //}
    </script>
}

