
@{
    ViewBag.Title = "Physiofit | Find Member ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string @getbootstrap = "";
    int count = 0;
    int id = 0;
}
@model dynamic 
    <div class="searchinput">
        <input type="text" id="srch" name="search" onkeyup="btnsearch()" class="search1" placeholder="Search Member..">
    </div>
    <div class="btnscontrol">
        <a class="buttoncol" data-rel="#rowvalue" href="#"><i class="ti-menu gridpart"></i></a>
        <a class="buttoncol active" data-rel="#colvalue" href="#"><i class="ti-layout-grid2-alt gridpart"></i></a>
    </div>
<div class="radiobtns" style="display:none;">
    <input type="radio" name="memberFilter" value="everyone" checked> Everyone
    <input type="radio" name="memberFilter" value="currentmembers"> Current Members
    <input type="radio" name="memberFilter" value="recentvisitors"> Recent Visitors
    <input type="radio" name="memberFilter" value="expiredmembers"> Expired Members
    @*<input type="radio" name="memberFilter" value="prospects"> Prospects*@
</div>
<div class="container1" id="colvalue" style="display:none;"> 
</div>
<div class="container2" id="colvalue" style="display:none">
    <div class="centered">No Result Found. </div>
</div>
<div class="container1" id="rowvalue">
    <table id="memberData" class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Member ID</th>
                <th>Name</th>
                <th>Membership Type</th>
                <th>Owe</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="memberData1">
        </tbody>
    </table>
</div>
<div class="row">
    &nbsp;
</div>
<!-- /.modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Membership Change : </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label label1">Member Name:</label>
                        <input type="text" readonly placeholder=" Member Name " class="form-control label2" value="Hello World" id="modalmemberName" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label1">Member ID:</label>
                        <input type="text" readonly placeholder="Member ID" value="12" class="form-control label2" id="modalmemberID" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label label1 ">Modify Membership:</label>
                        <select class="form-control label2" id="modalMembership">
                            <option value="">--SELECT Membership--</option>
                            @if (Model.memshp.Count > 0) {
                                foreach (var mem in Model.memshp) {
                                    <option value="@mem.Id">@mem.Name</option>
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" data-dismiss="modal" onclick="updateMembership()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        $(function () {
           var searchtxt = document.querySelector("#srch");
           searchtxt.addEventListener("keyup" , search);
        });
        $('.buttoncol').click(function (e) {
            e.preventDefault();
            setContent($(this));
        });
        // set content on load
        $('.buttoncol.active').length && setContent($('.buttoncol.active'));
        function setContent($el) {
            $('.buttoncol').removeClass('active');
            $('.container1').hide();
            $el.addClass('active');
            $($el.data('rel')).show();
        }
        function updateMembership() {
            $.ajax({
                type: "POST",
                url: "/Member/UpdateMembership",
                data: '{"MemberID":"' + data.id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                        var membername = response.FirstName + ' ' + response.LastName;
                        modalmembrID = response.Id;
                        modalmembrname.value = membername;
                        $('#exampleModal').modal('show');
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function(response) {
                   alert(" Fail " + response.responseText);
                },
                error: function(response) {
                    alert(" Error" + response.responseText);
                }
            });

        }
        function btnsearch() {

           var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("srch");
            filter = input.value.toUpperCase();
            var divs = document.getElementById('colvalue');
            var divlist = document.querySelectorAll('#cont');
            for (var i = 0; i < divlist.length; i++) {
                var card = divlist[i].querySelectorAll('#cd1');
                for (var j = 0; j < card.length; j++) {

                    var h4 = card[j].getElementsByTagName("h4")[0];
                    txtValue = h4.textContent.toUpperCase() || h4.innerText.toUpperCase();
                    if (txtValue.indexOf(filter) > -1) {
                        card[j].style.display = "";
                    } else {
                        card[j].style.display = "none";
                    }
                }
            }
            $("#srch").on("keyup", function () {
                var value = $(this).val();
                     $("#memberData1 tr").filter(function() {
                    $(this).toggle($(this).text().indexOf(value) > -1)
                 });
            });
        }
        $(function () {
          $.ajax({
            type: "GET",
            url: "/Member/getMembershipWithMember",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    var data = response;
                    var memberdata = '';
                    var datalength = data.length;
                    var rows = parseInt(data.length / 3);
                    var left = data.length % 3;
                    var json = JSON.parse(JSON.stringify(data));
                    var table = document.querySelector('#memberData1');
                    var card;
                    var count_rows = table.rows.count;
                    var div = 0;
                    let count = 0;  
                    card = '<div class="row" id="cont">';
                    for (var i = 0; i < json.length; ++i) {
                        var mrow = table.insertRow(count_rows);
                            var cell0 = mrow.insertCell(0)
                            var cell1 = mrow.insertCell(1);
                            var cell2 = mrow.insertCell(2);
                            var cell3 = mrow.insertCell(3);
                            var cell4 = mrow.insertCell(4);
                        var cell5 = mrow.insertCell(5);
                            cell0.innerHTML =  i+1; 
                            cell1.innerHTML = '<a href="/Member/Edit/' + json[i].Id + '"> #' + json[i].Id + '</a>';
                            cell2.innerHTML = json[i].FirstName;
                            cell3.innerHTML = json[i].LastName;
                            cell4.innerHTML = "No Owe";
                            cell5.innerHTML = "Check In";
                            card += '<a href="/Member/Edit/' + json[i].Id + '"> <div id="cd1" class="col33 memberwrapper">' + ' <div class="col40">' + '   <img class="userimg" src="' + json[i].ImagePath + '" /></div>';
                            card += ' <div class="col60"> <h4>' + json[i].FirstName + ' ' + json[i].LastName + '</h4>' + '<hr>' + ' <h5>User ID ' + json[i].Id + ' </h5>';
                            card += ' <p> Membership : <b>' + json[i].Name + '</b></p></a>';
                            if (json[i].Name != "None") {
                                     card += '<div class="specify1"><img class="imgspecify" src="@Url.Content("~/assets/images/specification/check.png")" />';
                            } else {
                                     card += '<div class="specify1"><img class="imgspecify" src="@Url.Content("~/assets/images/specification/asterisk.png")" />';
                            }
                            card += '</div>';
                            if (json[i].Name != "None") {
                                    card += '<div class="specify2"><button type="button" class="btn" data-toggle="modal" id="' + json[i].Id + '" onclick="modifyMembership(this)" data-whatever=""><i class="ti-import importicon"></i></button></div>';
                            }
                            card += '</div></div>';
                    }
                    card += '</div>';
                    memberdata += card;
                    $('#colvalue').html(memberdata);
                } else {
                   alert("Something went wrong");
                }
            },
            failure: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
        });
        $(function() {
        $("#btnGet").click(function() {
        $.ajax({
            type: "GET",
            url: "/Member/getMember",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    var data = response;
                    var memberdata = '';
                    var rows = data.length / 3;                                        
                    var left = data.length % 3;
                    var json = JSON.parse(JSON.stringify(data));
                    console.log(json);
                    var count = 1;
                    for (var i = 0; i < rows; i++) {
                        data = '<div class="row">'
                        for (var j = 0; j < 3; j++) {
                            data += ' <div class="col33 memberwrapper">' + ' <div class="col40">' + '   <img class="userimg" src="' + json[i*j].ImagePath +'" /></div>';
                            data += ' <div class="col60"> <h4>' + json[i*j].FirstName + ' ' +json[i*j].LastName + '</h4>' + '<hr>' + ' <h5>User ID </h5>';
                            data += ' <p>Created on <b>' + count + '</b></p>';
                            data += '<div class="specify1"><img class="imgspecify" src="@Url.Content("~/assets/images/users/deafult.png")" />';
                            data += '</div><div class="specify2">';
                            data += ' <button type="button" class="btn" data-toggle="modal" id="' + json[i * j].Id + '"  onclick="modifyMembership(this)" data-whatever="">';
                            data += '<i class="ti-import importicon"></i></button > ';
                            data += '</div></div></div>';
                            count++;
                        }
                        data += '</div>';
                        memberdata += data;
                    }
                    $('#colvalue').html(memberdata);                                   
                } else {
                    alert(" Something went wrong !!! ");
                }
            },
            failure: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }
           });
        });
        });
        function modifyMembership(data) {
            var modalmembrname = document.getElementById('modalmemberName');
            var modalmembrID = document.getElementById('modalmemberID');
            var modalMembership = document.getElementById('#modalMembership');
            $.ajax({
                type: "POST",
                url: "/Member/getMembershipWithMember",
                data: '{"id":"' + data.id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                      var membername = response.FirstName + ' ' + response.LastName;
                        modalmembrID = response.Id;
                        modalmembrname.value = membername;
                        if (response.MId == "0") {
                            $('#modalMembership').val("");
                        } else {
                            $('#modalMembership').val(response.MId);
                        }
                        $('#exampleModal').modal('show');
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function(response) {
                   alert(" Fail " + response.responseText);
                },
                error: function(response) {
                   alert(" Error" + response.responseText);
                }
            });
        } 
    </script>
}
