
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic
<div class="row upp2">
    <!-- Column -->
    <div class="row rolebtns3">
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type the product type.." aria-label="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi  mdi-magnify"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-xlg-6 col-md-6">
            <button type="button" class="btn btn-info btnaddrole" data-toggle="modal" data-target="#addclass" data-whatever="">Add Class</button>
        </div>
    </div>
    <div class="addclasstab">
        <!-- <div id=""> <h2 class="addclasshead"> No data</h2></div> -->
        <div id="addclasstable" class="addclasstable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Repeats</th>
                        <th>Repeat Ends</th>
                        <th>Teacher/ Instructor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.classes.Count > 0)
                    {
                        foreach (var data in Model.classes)
                        {
                            <tr>
                                <td>@data.ClassName</td>
                                <td>@data.From</td>
                                <td>@data.To</td>
                                <td>@data.Repeats</td>
                                <td>@data.RepeatsEnd</td>
                                <td>@data.StaffID</td>
                                <td>
                                    <button type="button" class="btn btn-info editbtn1" onclick="">Edit</button>
                                    <button type="button" class="btn btn-primary deletebtn1" onclick="location.href='@Url.Action("DeleteClasses", "Training", new { id = data.Id })'">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" align="center">
                                <div class="alert alert-info">
                                    <i class="ti-info" style="margin-right: 5px;border-radius: 50%;border: 1px solid #249ddc; padding: 3px; font-size: 10px;"></i> No Class Found !!!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">  </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- /.modal -->
@using (Html.BeginForm("Index", "Training", FormMethod.Post, new { @id = "addClass" , @class="needs-validation" , @novalidate="" }))
{
    @Html.AntiForgeryToken()
    <div class="modal" id="addclass" tabindex="-1" role="dialog" aria-labelledby="addclasslabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addclasslabel">Add Class</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="addClass" method="post">
                        <div class="form-group">
                            <label for="" class="control-label label1">Class:</label>
                            <input type="text" name="className" required="" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Date:</label>
                            <input type="date" name="Date" required="" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">From:</label>
                            <input type="time" name="From" required="" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">To:</label>
                            <input type="time" name="To" required="" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Repeats:</label>
                            <div class="controls">
                                <select class="form-control label2" name="Repeats" id="" aria-invalid="false">
                                    <option value="">N/A (Single Appointment)</option>
                                    <option value="7 days">Weekly</option>
                                    <option value="14 days">Fortnightly</option>
                                    <option value="21 days">3 Weeks</option>
                                    <option value="28 days">4 Weeks</option>
                                    <option value="42 days">6 Weeks</option>
                                    <option value="56 days">8 Weeks</option>
                                    <option value="1 mon">Monthly</option>
                                    <option value="1 day">Daily</option>
                                </select>
                                <div class="help-block"  style="padding-left:30%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Repeat Ends:</label>
                            <input type="date" name="RepeatsEnd" class="form-control label2" id="" />
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Resource:</label>
                            <select class="form-control label2" name="Resource" id="" aria-invalid="false">
                                <option value="">Studio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Teacher/ Instructor:</label>
                            <select class="form-control label2" name="StaffID" id="" aria-invalid="false">
                                <option value="12">James Roy</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label label1">Note:</label>
                            <textarea type="date" name="Note" class="form-control label2" id=""></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">Save Class</button>
                    <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- /.modal -->
@section scripts{
     <script type="text/javascript">
         (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        ! function(window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }(window, document, jQuery);
     </script>
}

